%iwStyle
  margin: 20px 5px 10px

#more-info
  width: 360px
  height: 100vh
  +position(fixed, 0 null null -380px)
  z-index: 1
  padding: 0 0 10px
  background: $color2
  box-shadow: 0 0 15px #888888
  display: block
  transition: all 0.5s ease
  overflow-x: hidden
  overflow-y: hidden
  &:hover
    overflow-y: auto


#close-info
  +position(absolute, 20px 20px null null)
  color: $color2
  text-shadow: 1px 1px 5px $color1
  font-size: 2em
  background: none
  &:hover
    cursor: pointer
    color: $color4

.dotted
  border-top: 1px dotted
  width: 75%

.slide-out
  transform: translateX(380px)

.iw-name
  text-align: center

.iw-img
  width: calc(100% + 20px)

.iw-desc
  @extend %iwStyle
  padding: 20px 0

.iw-rat
  @extend %iwStyle
  padding: 10px 0
  text-align: center
  max-width: 40%
  margin: 20px 0 20px 5px
  border-radius: 10px
  color: $color2


.iw-times

.close-color
  color: $color4

.iw-address
  @extend %iwStyle
  font-style: italic
  font-size: 0.9em

.iw-contacts
  ul
    list-style: none
    margin: 0

.iw-contact

  a
    display: inline-block
    color: $color3
    text-decoration: none
    &:hover
      text-decoration: underline
      color: $color4
    i
      font-size: 2em
      margin-right: 10px
