%iwStyle
  margin: 20px 5px 10px

#more-info
  width: 360px
  height: 100vh
  +position(fixed, 0 null null -380px)
  z-index: 1
  padding: 0 0 10px
  background: $color2
  box-shadow: 0 0 15px #888888
  display: block
  transition: all 0.1s ease
  overflow-x: hidden
  overflow-y: hidden
  &:hover
    overflow-y: auto
.marker-info
  color: $color5
  margin: 0
  border-bottom: 1px solid

.dotted
  border-top: 1px dotted
  width: 75%

.slide-out
  transform: translateX(380px)

.closeOpen
  transform: translateX(350px)
  @media screen and(max-width: 430px)
    transform: none


.iw-name
  text-align: center

.iw-img
  width: calc(100% + 20px)

.iw-desc
  @extend %iwStyle
  padding: 20px 0
  line-height: 1.4em

.iw-rat
  @extend %iwStyle
  padding: 10px 0
  text-align: center
  max-width: 40%
  margin: 20px 0 20px 5px
  border-radius: 5px
  color: $color2


.iw-status
  margin: 50px 0
  text-align: center
  font-size: 1.2em

.close-color
  color: $color4

.iw-address
  @extend %iwStyle
  font-style: italic
  font-size: 0.9em

.iw-contacts
  ul
    list-style: none
    margin: 0

  a
    display: inline-block
    color: $color5
    text-decoration: none
    &:hover
      text-decoration: underline
      color: $color4
    i
      font-size: 2em
      margin-right: 10px

#close-info
  +position(absolute, 60px null null 10px)
  z-index: 2
  background: $color2
  text-align: center
  padding: 20px 10px
  transition: transform 0.1s ease
  border-radius: 5px
  width: 30px
  color: $color5
  box-shadow: 0 0 15px $color3
  width: 35px
  &:hover
    color: $color4
    cursor: pointer
