#off-nav
  min-width: 300px
  height: 100vh
  position: fixed
  top: 0
  left: -300px
  will-change: transform
  transition: transform 0.5s ease

#off-body
  will-change: transform
  transition: transform 0.5s ease

.off-shift
  transform: translateX(300px)

#off-btn
  z-index: 100
  +position(absolute, 20px null null 20px)
